fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
langchain
langchain-community
langchain-core
mcp-use
langchain-google-genai
langchain-cerebras
langchain-groq
python-dotenv
httpx
pydantic
pydantic-settings
duckduckgo-search